body, h1, h2, h3{
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1em;
}

 ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media only screen and (max-width: 360px) {
  /* Adjust styles for phones */
  #modalContent {
    width: 100%;
    height: 100%; /* Adjust as needed */
  }
}
