 /* CSS for the navigation bar */
 .navigation-bar {
    position: fixed;
    left: -220px; /* Initial position outside the viewport */
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    transition: left 0.3s; /* Add smooth transition effect */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .navigation-bar:hover {
    left: 0; /* Show the navigation bar on hover */
  }
  
  .navigation-bar button {
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    justify-content: flex-start;
  }
  
  .navigation-bar button:hover {
    background: linear-gradient(to right, #56CCF2 0%, #358dff 100%);
  }

  .navigation-bar input[type='file']{
    display:none;
  }

  .dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    margin-left: 5px;
    position: absolute;
    background-color: #f9f9f9;
    width: 180px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content .content{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: white solid 1px;
    color: black;
    cursor: pointer;
    text-align: center;
  }

  .content:hover{
    background-color: #f1f1f1;
    border: black solid 1px;
    border-image: linear-gradient(to right, #00CFC8 0%, #5E74FF 100%);
    border-image-slice: 1;
  }

.logo{
  text-align: center;
  background: #00CFC8;
background: linear-gradient(to right, #00CFC8 0%, #5E74FF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
height:50px;

}

.user-card{
  display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    border: black solid 1px;
    border-image: linear-gradient(to right, #00CFC8 0%, #5E74FF 100%);
    border-image-slice: 1;
    cursor: pointer;
    margin: 4px;
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically in the center */
}

.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  margin: 5px;
  margin-left: 15px;
}

.username {
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}