 /* CSS for the navigation bar */
 .navigation-bar {
    position: fixed;
    left: -220px; /* Initial position outside the viewport */
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    transition: left 0.3s; /* Add smooth transition effect */
  }

  .navigation-bar:hover {
    left: 0; /* Show the navigation bar on hover */
  }
  
  .navigation-bar button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  .navigation-bar button:hover {
    background-color: #45a049;
  }

  .navigation-bar input[type='file']{
    display:none;
  }

  .dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 180px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content .content{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .content:hover{
    background-color: #dfdfdf;
  }